h2 {
    color: rgb(233, 206, 185)
}
h3 {
    color: rgb(230, 148, 49)
}
h4 {
    color: rgb(224, 164, 66)
}

html {
    background-color: #4e4949;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #4e4949;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(211, 130, 76);
  }

  h2 {
    margin: 0;
    padding: 20px 0;
    color: #d85e2d;
  }

  img {
    display: block;
    margin: 0 auto;
  }
img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

article {
  margin-bottom: 1em;
}

@media print {
  body {
    font-size : 15pt;
  }
}

@media screen and (width: 500px) {
  body {
    color: black
  }
}
@media screen and (max-width: 400px) {
  body {
    color: orange;
  }
}


body
{
  margin: auto; /* Pour centrer la page */
  margin-top: 10px; /* Pour que le haud de la fenetre de navigation ne colle pas */ 
  margin-bottom: 10px; /* Pour le bas du navigateur */
}