h2 {
    color: rgb(201, 187, 176)
}
h3 {
    color: rgb(212, 207, 201)
}
h4 {
    color: rgb(231, 214, 187)
}

html {
    background-color: #d3c4b5;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #c4c0bf;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(211, 130, 76);
  }

  h2 {
    margin: 0;
    padding: 20px 0;
    color: #f0d6cc;
    text-shadow: 3px 3px 1px black;
  }

  img {
    display: block;
    margin: 0 auto;
  }
img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

img {
  max-width: 70%
}

html {
  font-size: 1em;
}

h2 {
  font-size: 2rem;
}

